<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) Juergen Melzer
  ~
  ~ 2013.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jmelzer.myttr"
          android:versionCode="4"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="18"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application android:name="com.jmelzer.myttr.MyApplication" android:theme="@style/MyTheme"
                 android:label="@string/app_name" android:icon="@drawable/myttr">
        <activity android:name=".activities.LoginActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.jmelzer.myttr.activities.AfterLoginActivity"
                  android:label="@string/app_name" android:icon="@drawable/myttr"
                  android:parentActivityName=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".activities.MyTTRActivity"/>
        </activity>
        <activity android:name=".activities.ManualEntriesActivity"
                  android:label="@string/app_name" android:icon="@drawable/myttr"
                  android:parentActivityName=".activities.AfterLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".activities.AfterLoginActivity"/>
        </activity>
        <activity android:name=".activities.PlayerDetailActivity"
                  android:label="@string/app_name" android:icon="@drawable/myttr"
                  android:parentActivityName=".activities.ManualEntriesActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".activities.ManualEntriesActivity"/>
        </activity>
        <activity android:name=".activities.ResultActivity"
                  android:label="@string/app_name" android:icon="@drawable/myttr"
                  android:parentActivityName=".activities.ManualEntriesActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".activities.ManualEntriesActivity"/>
        </activity>
        <activity android:name=".activities.EnterTTRActivity"
                  android:label="@string/app_name" android:icon="@drawable/myttr"
                  android:parentActivityName=".activities.AfterLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".activities.AfterLoginActivity"/>
        </activity>
        <activity android:name=".activities.ClubListActivity"
                  android:label="@string/app_name" android:icon="@drawable/myttr"
                  android:parentActivityName=".activities.AfterLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".activities.AfterLoginActivity"/>
        </activity>
        <activity android:name=".activities.MySettingsActivity" android:label="@string/menu_settings"/>
        <activity android:name=".activities.NewPointsActivity" android:label="@string/notifcation_result">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".activities.ManualEntriesActivity"/>
        </activity>
        <service android:name=".logic.SyncManager" android:label="myTTR Background Sync"
                 android:icon="@drawable/myttr">
        </service>
    </application>


</manifest>
