<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) Juergen Melzer
  ~
  ~ 2015.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jmelzer.myttr"
          android:installLocation="auto">

    <uses-sdk
        android:maxSdkVersion="27"
        />
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->

    <application
        android:name="com.jmelzer.myttr.MyApplication"
        android:theme="@style/MyTheme"
        android:label="@string/app_name"
        android:icon="@drawable/ic_myttr_app"
        android:allowBackup="false">
        <activity
            android:name="com.jmelzer.myttr.activities.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.jmelzer.myttr.activities.HomeActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.jmelzer.myttr.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TTRCalculatorActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.jmelzer.myttr.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.TTRCalculatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity"/>
        </activity>
        <activity
            android:name="com.jmelzer.myttr.activities.NextAppointmentsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.TTRCalculatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity"/>
        </activity>

        <activity
            android:name="com.jmelzer.myttr.activities.NextAppointmentPlayersActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.jmelzer.myttr.activities.NextAppointmentsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.NextAppointmentsActivity"/>
        </activity>
        <activity
            android:name="com.jmelzer.myttr.activities.ResultActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.TTRCalculatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TTRCalculatorActivity"/>
        </activity>
        <activity
            android:name="com.jmelzer.myttr.activities.EnterTTRActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.jmelzer.myttr.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>
        <activity
            android:name="com.jmelzer.myttr.activities.EnterClubNameActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.jmelzer.myttr.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="ManualClubName"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>
        <activity
            android:name="com.jmelzer.myttr.activities.EnterAKActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.jmelzer.myttr.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="AK"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>
        <activity
            android:name="com.jmelzer.myttr.activities.EnterTimeActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.jmelzer.myttr.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="Time"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>
        <activity
            android:name="com.jmelzer.myttr.activities.ClubListActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.jmelzer.myttr.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>
        <activity
            android:name="com.jmelzer.myttr.activities.MySettingsActivity"
            android:label="@string/menu_settings"/>
        <!--<activity
            android:name="com.jmelzer.myttr.activities.NewPointsActivity"
            android:label="@string/notifcation_result">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TTRCalculatorActivity"/>
        </activity>-->
        <activity
            android:name=".activities.EventsActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.jmelzer.myttr.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>
       <!-- <activity
            android:name="com.jmelzer.myttr.activities.EventsTTRChartFragment"
            android:label="@string/app_name"
            android:parentActivityName="com.jmelzer.myttr.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>-->
        <activity
            android:name="com.jmelzer.myttr.activities.EventDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.jmelzer.myttr.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".activities.SelectTeamPlayerActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.jmelzer.myttr.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".activities.SearchResultActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".activities.LigaHomeActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".activities.LigaTabelleActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LigaHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".activities.LigaMannschaftResultsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LigaTabelleActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".activities.LigaAllResultsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LigaTabelleActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.LigaHomeActivity"/>
        </activity>
        <activity
            android:name=".activities.LigaMannschaftInfoActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LigaHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="geo" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.LigaHomeActivity"/>
        </activity>
        <activity
            android:name=".activities.LigaSpielberichtActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LigaHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.LigaHomeActivity"/>
        </activity>
        <activity
            android:name=".activities.EditFavoritesActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LigaHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.LigaHomeActivity"/>
        </activity>
        <activity
            android:name=".activities.LigaSpielerResultsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LigaHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.LigaHomeActivity"/>
        </activity>
        <activity
            android:name=".activities.LigaMannschaftBilanzActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LigaHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.LigaHomeActivity"/>
        </activity>
        <activity
            android:name=".activities.LigaVereinActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LigaMannschaftResultsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.LigaMannschaftResultsActivity"/>
        </activity>
        <activity
            android:name=".activities.LigaRanglisteActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".activities.SearchResultMultiSelectActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.NextAppointmentPlayersActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.NextAppointmentPlayersActivity"/>
        </activity>
        <activity
            android:name=".activities.TournamentsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".activities.TournamentDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.TournamentsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.TournamentsActivity"/>
        </activity>
        <activity
            android:name=".activities.ParticipantActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.TournamentDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.TournamentDetailActivity"/>
        </activity>
        <activity
            android:name=".activities.TournamentResultsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.TournamentDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.TournamentDetailActivity"/>
        </activity>

        <activity
            android:name=".activities.CupsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.CupsActivity"/>
        </activity>
        <activity android:name=".activities.SearchFilterActivity"  android:label="@string/app_name"
            android:parentActivityName=".activities.SearchResultActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jmelzer.myttr.activities.SearchResultActivity"/>
        </activity>

        <service android:name=".logic.SyncManager" android:label="myTTR Background Sync"
                 android:icon="@drawable/ic_action_actionbar">
        </service>
        <!--<receiver android:name=".BootUpReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6aa5f86cc4f52cbc38718f83c8acfeaa83f10c57" />
    </application>


</manifest>
