<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) Juergen Melzer
  ~
  ~ 2015.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmelzer.myttr"
    android:installLocation="auto">
    <uses-sdk android:targetSdkVersion="21"/>
    <application
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
</manifest>
